// straight from github.com/chyld since my virtual machine was hanging during the in-class lab

.box
{
  float: left;
  width: 100px;
  height: 100px;
  border: 2px solid black;
  margin: 10px;
  color: black;
}