!!! 5
%html{lang: 'en'}
  %head
    %meta{charset: 'utf-8'}
    %title HAML & Sass Template
    %link{rel: 'stylesheet', href: 'css/normalize.css'}
    %link{rel: 'stylesheet', href: 'css/style.css'}
  %body
    .main
      %header
        %h1 Movie Time
      %nav
        %ul
          %li
            %a{href: '#'} Jaws
          %li
            %a{href: '#'} Titanic
          %li
            %a{href: '#'} Lord of the Rings
      %section
        %h1 Jaws
        %h2 Attack of the Shark
        %p
          %span hello
          %span
            %strong world
        %p
          This is a very long
          sentence so it goes over
          multiple lines
        %p#fun
          This is a fun id
        %p.classy
          This p tag is very classy
        %p#oh.really.yes
          This p tag has an id of oh and 2 classes
        %a_div
          This is just a div wth an id of a_div
        .classy_div
          This is one classy div
      %footer