@import url(http://fonts.googleapis.com/css?family=Gudea:400,700,400italic);
header {
  border: 2px dashed #c72221; }
  header #logo {
    width: 78px;
    height: 105px;
    background: url(../images/tesla.png);
    float: left; }
  header #company {
    float: left; }
    header #company h1 {
      margin-top: 35px;
      margin-left: 50px;
      font-family: "Gudea", sans-serif; }

nav ul {
  list-style-type: none;
  padding: 0; }
  nav ul li {
    padding-right: 50px;
    display: inline-block; }

div#content section h1 {
  color: #c72221;
  font-family: "Gudea", sans-serif;
  font-size: 20px;
  line-height: 20px;
  letter-spacing: 5px; }
div#content section h2 {
  color: #99504f;
  font-family: "Gudea", sans-serif;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: 3px; }
div#content section p {
  color: #ff0033;
  font-family: "Gudea", sans-serif;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 3px;
  margin: 5px;
  padding: 10px;
  border: 2px dashed green;
  border-radius: 20px;
  background-color: yellow;
  box-shadow: 5px 5px 10px black; }

footer p {
  font-size: 8px;
  color: #c72221; }

#main {
  width: 960px;
  margin: 0 auto; }

.clear {
  clear: both; }

a {
  text-decoration: none;
  color: #c72221; }
  a:hover {
    text-decoration: underline;
    color: #99504f; }
