extends ../template/layout
include ../mixins/form-helper.jade

block content
  h1 To Do List App
  h3 Add a Task
  p: a(href='/tasks') Task Page
  form(action='/tasks', method='post')
    mixin field('item', 'Item', 'Dig a ditch', true)
    mixin field('dueDate', 'Due Date', '10/30/13')
    mixin field('color', 'Color', '#44ee00')

    button(type='submit') Save Task