.row
  .small-12.columns
    %h1 Shopping
.row
  .small-2.columns
    %input#product-name{type: 'text', placeholder: 'Product Name'}
  .small-2.columns
    %input#product-image{type: 'text', placeholder: 'Image URL'}
  .small-2.columns
    %input#product-price{type: 'text', placeholder: 'Price'}
  .small-2.columns
    %input#product-off{type: 'text', placeholder: 'Percent Off'}
  .small-2.columns
    %input#product-weight{type: 'text', placeholder: 'Product Weight'}
  .small-2.columns
    %input#add-product.small.button.radius{type: 'button', value: "Add Product"}
.row
  .small-12.columns
    %h4 Products
  .small-12.columns
    %table#products
      %tr
        %td Name
        %td Image
        %td ID
        %td Price
        %td Percent Off
        %td weight