doctype 5
html
  head
    title Dogs.
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    h1 Dogs are great.
    p You will likely agree.
    img(src = 'http://blog.oregonlive.com/environment_impact/2008/05/pitbull.5.19.JPG')