doctype 5
html
  head
    title Node Example Page
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    h1 Node is the thing.
    p Welcome to Node, everyone.
    a(href='/dogs') A page wherein dogs are declared as great