.row#navbox
  .small-2.columns
    a.button.small.radius.expand(href="/") Home
  .small-2.columns
    a.button.small.radius.expand(href="/songs") Songs
  .small-2.columns
    a.button.small.radius.expand(href="/songs/new") New Song
  .small-2.columns
    a.button.small.radius.expand(href="/artists") Artists
  .small-2.columns
    a.button.small.radius.expand(href="/artists/new") New Artist
  .small-2.columns
    a.button.small.radius.expand(href="/artists/527701067a16d1761c000001") Best Artist