.row.navbox
  .small-12.columns
    .row
      .small-2.columns
        a.button.small.radius.expand(href="/songs") Songs
      .small-2.columns
        a.button.small.radius.expand(href="/songs/new") New Song
      .small-2.columns
        a.button.small.radius.expand(href="/artists") Artists
      .small-2.columns
        a.button.small.radius.expand(href="/artists/new") New Artist
      .small-2.columns
        a.button.small.radius.expand(href="/genres") Genres
      .small-2.columns
        a.button.small.radius.expand(href="/genres/new") New Genre
      .small-8.columns
